
/Calculation/target/classes/
/Calculation/target/generated-sources/
/Calculation/target/maven-archiver/
/Calculation/target/maven-status/
/.idea/
/Calculation/src/main/resources/
/Main/src/main/resources/
/Main/target/classes/
/Main/target/generated-sources/
/Main/target/maven-archiver/
/Main/target/maven-status/
/Model/src/main/resources/
/Model/src/test/
/Main/src/test/
/Calculation/src/test/
/Model/target/classes/
/Model/target/generated-sources/
/Model/target/maven-archiver/
/Model/target/maven-status/
/src/
/MavenTraining.iml
